.nav-link:hover {
    color: #0085eb; 
  
}

.position-relative .alert {
    margin-top: -5px;
    margin-bottom: 5px;
    z-index: 1;
    padding: 0.25rem 1.25rem;
}

.position-relative .alert::after {
    content: '';
    position: absolute;
    top: -10px;
    left: 10px;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #f8d7da;
}

.react-datepicker__input-container {
  width: inherit;
}

.react-datepicker-wrapper {
  width: 100%;
}

.accordion-button:not(.collapsed) {
    background-color: transparent !important;
}

.accordion {
  --bs-accordion-btn-focus-box-shadow: none !important;
}